*{
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.main{
    height: 100%;
    width: 100%;
   background-image:url('/src/WhatsApp\ Image\ 2025-04-22\ at\ 10.34.14_22de51cf.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
   
}
.image1{
     height: 15%;
    width: 25%; 
}
.Header{
    
     padding-left: 15%;
    padding-top: 9%;
    flex-wrap: wrap;
   
}
.a{
   width: 100%;
 flex-basis: 50%;
 display: flex;
 flex-wrap: wrap;
 padding-top: 30px;
  justify-content: flex-end;
  padding-right: 3%;
position: fixed;    
}
.main button{
    padding-right: 3%;
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 25px;
    flex-wrap: wrap;
    cursor: pointer;
}
.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-bottom: 9%;
   /* border: 2px solid red;     */
}
.aside1{
    width: 50%;
    background-color: #feffff83;
font-family: 'Courier New', Courier, monospace;
    border-radius: 25%;
    padding: 6%;
    display: flex;
    font-size: 60%;
    text-align: center;
    padding-bottom: 2%;
    flex-wrap: wrap;
}
.aside1 h1{

color:rgb(255, 0, 79) ;
}
.aside1 span, .aside1 h1{
  font-size: 260%;
  font-weight: 600;
    color:rgb(255, 0, 79) ;
}
.aside1 h2{
    font-size: 25px;
}