.page4head{
    background-color: black;
    
    flex-wrap: wrap;
}
.mywork{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
.page4 h1{
    flex-wrap: wrap;
    color: white;
    font-size: 45px;
    padding-left: 10%;
    padding-top: 3%;
    font-style: italic;
    background-color: black;
}
.Image{
    width: 350px;
    position: relative;
}
.Image img{
    height: 300px;
    width: 350px;
    border-radius: 20%;
}
.Image img{
  width: 100%;
  display: block;
  margin: auto;
}
.matter > p{
  transform: translateY(25px);
  transition: transform 0.6s;
}
.matter{
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: (0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.matter:hover{
    opacity: 1;
    color: rgb(0, 0, 0);
    background-color: rgba(9, 239, 255, 0.527);
    border-radius: 20%;
   transform: translateY(0px);
}
.matter>*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.seemore {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seemore a{
    padding-left:15px;
    font-size: 25px;
    /* display: flex; */
    align-items: center;
    border: 2px solid rgb(255, 78, 146);
    color: white;
    padding-right: 20px;
    border-radius: 20px;
    text-decoration: none;
}
footer{
    /* padding-top: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 8%;
    width: 100%;
    background-color: rgb(25, 42, 56);
}
